$heigth-header: 70px;
$heigth-input: 66px;
// $heigth-chat: calc((100% - $heigth-header) - $heigth-input);

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Roboto', monospace;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Roboto', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 400px;
  height: 100%;
  // border: solid 1px gray;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-family: 'Roboto', monospace;
}

p {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #666666;

  a {
    color: #4b9460;
  }
}

.password-container {
  width: 340px;
  margin: 0 auto;
  position: relative;

  .password {
    position: absolute;
    right: 16px;
    color: #5db075;
    cursor: pointer;
  }
}

.logo {
  width: 96px;
  margin: 0 auto;
  position: relative;
  display: block;
  margin-top: 30px;
}

input {
  width: 340px;
  height: 50px;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  background: #f6f6f6;
  margin: 0 auto;
  display: block;
  padding-left: 16px;
  font-size: 16px;
  // color: #bdbdbd;
  margin-bottom: 16px;
}

button {
  width: 340px;
  height: 50px;
  padding: 16px 32px;
  border: none;
  margin: 0 auto;
  display: block;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.-green {
  background: #5db075;
  border-radius: 100px;
  color: white;
}

.sign-up-nav {
  position: relative;
  width: 340px;
  margin: 0 auto;

  .x {
    position: absolute;
  }
}

.profile-page {
  .header {
    width: 100%;
    height: 200px;
    padding-top: 16px;
    background-color: #5db075;
    position: relative;
  }
  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: auto;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-weight: 500;
  }

  h1 {
    margin: 0;
    color: white;
    font-weight: 600;
    font-size: 30px;
  }

  .settings {
    margin: 10px;
    color: white;
  }

  .sign-out {
    right: 0px;
    margin: 10px;
    color: white;
  }

  .user-info {
    top: -130px;
    position: relative;

    .profile-img {
      object-fit: cover;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: solid 6px white;
      margin: 0 auto;
      display: block;
    }
  }
}
.room {
  position: relative;

  .header {
    width: 100%;
    height: $heigth-header;
    padding-top: 16px;
    background-color: white;
    position: relative;

    button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      width: auto;
      height: auto;
      position: absolute;
      font-size: 16px;
      font-weight: 500;
    }

    h1 {
      width: 200px;
      margin: 0 auto;
      color: black;
      font-weight: 600;
      font-size: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .back {
      margin: 10px;
      color: #5db075;
    }

    .settings {
      right: 0px;
      margin: 10px;
      color: #5db075;
    }
  }

  .chat {
    // height: $heigth-chat;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
  }

  .message {
    bottom: 0;
    position: sticky;
    width: 340px;
    margin: 0 auto;
    height: $heigth-input;
    background: white;

    input {
      width: 340px;
      height: 50px;
      border-radius: 100px;
      padding-right: 48px;
    }

    button {
      background: none;
      color: inherit;
      border: none;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      width: auto;
      height: auto;
      position: absolute;
      right: 0;
      padding: 8px;
    }
  }
}

// Hey Sandy fix this:

// .edit-form {
//   padding: 3em;
//   align-items: center;
//   justify-content: center;
//   display: inline;
// }
// .edit-btn {
//   cursor: pointer;
//   margin-top: 5em;
// }
// #input-name {
//   margin-top: 2em;
// }
// #input-email {
//   margin-top: 2em;
// }
// #input-picture {
//   margin-top: 2em;
// }
// .event-list {
//   display: flex;
//   float: right;
//   margin-right: 1em;
// }
// .group-list {
//   display: flex;
//   float: left;
//   margin-left: 1em;
// }
// .create-group {
//   right: 0px;
//   margin: 0;
//   display: flex;
//   float: right;
//   color: #5db075;
//   font-size: 2em;
// }

// .return-btn {
//   margin-top: 1.5em;
//   color: #5db075;
//   margin-left: 1.5em;
//   font-weight: 600;
// }

// .group-name {
//   padding: 0.5em;
//   display: flex;
//   justify-content: center;
// }
// .group-page {
//   padding: 1em;
//   align-items: center;
//   justify-content: center;
//   display: inline;
// }
// .group-card {
//   padding: 0.5em;
//   align-items: center;
//   justify-content: center;
//   display: inline;
// }
// .group-btn {
//   border: none;
//   margin-right: 80px;
// }
// .group-card-name {
//   font-size: 1.4em;
//   background: none;
//   display: flex;
//   color: #080808;
// }
// .group-info {
//   margin-top: 1.5em;
// }
// .group-topic {
//   margin-top: 1em;
//   justify-content: center;
//   margin-left: 1em;
// }
// .grp-description {
//   display: flex;
//   margin-top: -0.2em;
//   margin-left: 2em;
// }
// .event-list-slide {
//   display: flex;
//   float: right;
//   margin-right: 3em;
// }
// .group-list-slide {
//   display: flex;
//   float: left;
//   margin-left: 3em;
// }

// till here

.navigation-bottom {
  position: fixed;
  height: 80px;
  width: 400px;
  bottom: 0;
  background-color: #fafafa;
  border-top: solid 1px #e5e5e5;

  .circle {
    display: flex;
    justify-content: space-evenly;

    img {
      padding: 6px;
    }

    :link {
      background-color: #e5e5e5;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin-top: 10px;
    }

    .active {
      background-color: #5db075;
      border-radius: 50%;
    }
  }
}

.header-profile-edit {
  width: 100%;
  height: $heigth-header;
  padding-top: 16px;
  background-color: white;
  position: relative;

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: auto;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-weight: 500;
  }

  h1 {
    width: 200px;
    margin: 0 auto;
    color: black;
    font-weight: 600;
    font-size: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .back {
    margin: 10px;
    color: #5db075;
  }
}
