$heigth-header: 70px;
$heigth-input: 66px;
$heigth-chat: calc((100vh - $heigth-header) - $heigth-input);

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Roboto', monospace;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 400px;
  height: 100%;
  // border: solid 1px gray;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-family: 'Roboto', monospace;
}

p {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #666666;

  a {
    color: #4b9460;
  }
}

.password-container {
  width: 340px;
  margin: 0 auto;
  position: relative;

  .password {
    position: absolute;
    right: 16px;
    color: #5db075;
    cursor: pointer;
  }
}

.logo {
  width: 96px;
  margin: 0 auto;
  position: relative;
  display: block;
  margin-top: 30px;
}

input {
  width: 340px;
  height: 50px;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  background: #f6f6f6;
  margin: 0 auto;
  display: block;
  padding-left: 16px;
  font-size: 16px;
  // color: #bdbdbd;
  margin-bottom: 16px;
}

button {
  width: 340px;
  height: 50px;
  padding: 16px 32px;
  border: none;
  margin: 0 auto;
  display: block;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.-green {
  background: #5db075;
  border-radius: 100px;
  color: white;
}

.sign-up-nav {
  position: relative;
  width: 340px;
  margin: 0 auto;

  .x {
    position: absolute;
  }
}

// .sign-out {
//   border: none;
//   background: none;
//   color: #e8e8e8;
//   margin-right: 80px;
//   position: relative;
//   left: -50px;
//   top: 2px;
//   cursor: pointer;
// }

.profile-page {
  .header {
    width: 100%;
    height: 200px;
    padding-top: 16px;
    background-color: #5db075;
    position: relative;

    button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      width: auto;
      height: auto;
      position: absolute;
      font-size: 16px;
      font-weight: 500;
    }

    h1 {
      margin: 0;
      color: white;
      font-weight: 600;
      font-size: 30px;
    }

    .settings {
      margin: 10px;
      color: white;
    }

    .sign-out {
      right: 0px;
      margin: 10px;
      color: white;
    }
  }
  .user-info {
    top: -130px;
    position: relative;

    .profile-img {
      object-fit: cover;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: solid 6px white;
      margin: 0 auto;
      display: block;
    }
  }
}
.room {
  // height: 844px;
  position: relative;

  .header {
    width: 100%;
    height: $heigth-header;
    padding-top: 16px;
    background-color: white;
    position: relative;

    button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      width: auto;
      height: auto;
      position: absolute;
      font-size: 16px;
      font-weight: 500;
    }

    h1 {
      width: 200px;
      margin: 0 auto;
      color: black;
      font-weight: 600;
      font-size: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .back {
      margin: 10px;
      color: #5db075;
    }

    .settings {
      right: 0px;
      margin: 10px;
      color: #5db075;
    }
  }

  .chat {
    height: $heigth-chat;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
  }

  .message {
    bottom: 0;
    position: sticky;
    width: 340px;
    margin: 0 auto;
    height: $heigth-input;

    input {
      width: 340px;
      height: 50px;
      border-radius: 100px;
      padding-right: 48px;
    }

    button {
      background: none;
      color: inherit;
      border: none;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      width: auto;
      height: auto;
      position: absolute;
      right: 0;
      padding: 8px;
    }
  }
}
